<mat-card class="card">
    <mat-toolbar>
        <span>{{title1}}</span>
    </mat-toolbar>
    <form [formGroup]="formGroup" (ngSubmit)="savelogin()">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" type="email"
                    formControlName="email">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password"
                    formControlName="password">
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit"
            [disabled]="!formGroup.valid">Acceder</button>
    </form>
    <p>No tienes Cuenta? <a (click)="openDialog()"><strong>Registrate Aquí</strong></a></p>
    <p>Se te Olvido tu Contraseña? <a (click)="openForgetPassword()"><strong>Recupera Contraseña</strong></a></p>
</mat-card>