<mat-card class="card">
    <mat-toolbar>
        <h3>{{title}}</h3>
    </mat-toolbar>
    <form [formGroup]="formGroup">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" type="email"
                    formControlName="email">
                <mat-error *ngIf="email.hasError('pattern') &&
                    !email.hasError('required')">
                    Ingrese un Email Valido
                </mat-error>
                <mat-error *ngIf="email.hasError('required')">
                    Email es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <button mat-raised-button color="primary" type="submit" (click)="saveEmail()">Registarse</button>
        </div>
    </form>
    <p>Ya tienes Cuenta? <a (click)="closeDialog()"><strong>Ingresa Aquí</strong></a></p>
</mat-card>
